wandb/
logs/
onnx/
videos/
__pycache__/
MUJOCO_LOG.TXT
debug.py
.vscode/
*.ipynb_checkpoints/
motions/
*_rerun*
artifacts/
.venv/
render_robots.py
benchmark_results/

# Documentation outputs.
**/_build/*
**/generated/*

src/mjlab/asset_zoo/.DS_Store
src/mjlab/asset_zoo/robots/.DS_Store
src/mjlab/asset_zoo/robots/alex_V1_description/.DS_Store
src/mjlab/asset_zoo/robots/alex_V1_description/meshes/.DS_Store
src/mjlab/asset_zoo/robots/alex_V1_description/mjcf/.DS_Store
